<h2>Avaiable musical instruments on stock</h2>
<div>
  <input clrInput #instrumentName placeholder="Add an instrument" />
  <button type="button" class="btn btn-icon" aria-label="add"
    (click)="add(instrumentName.value); instrumentName.value=''">
    <clr-icon shape="plus"></clr-icon>
  </button>
</div>
<ul class="list-unstyled">
  <li *ngFor="let instrument of instruments">
    <a routerLink="/detail/{{instrument.id}}">
      <span class="label label-light-blue clickable instrument">{{instrument.name}}</span>
      <span>{{instrument.price | currency}}</span>
    </a>
  </li>
</ul>
