a {
  text-decoration: none;
}

a:visited {
  color: black;
}

a:link {
  color: black;
}

span {
  font-size: large;
  color: black;
}

h2 {
  margin-left: 20px;
}

div {
  display: flex;
  margin-left: 20px;
  margin-bottom: 20px;
}

input {
  font-size: large;
}

li {
  margin: 10px 20px;
}
