<div class="clr-row" *ngIf="instrument">
  <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
    <div class="card">
      <div class="card-header">
        {{instrument.name | uppercase}} DETAILS
      </div>
      <div class="card-block">
        <div class="card-title">
          Name
        </div>
        <div class="card-text">
          <input clrInput [(ngModel)]="instrument.name" placeholder="Name" />
        </div>
      </div>
      <div class="card-block">
        <div class="card-title">
          Type
        </div>
        <div class="card-text">
          {{instrument.type | musicInstrumentTypeTranslator}}
        </div>
      </div>
      <div class="card-block">
        <div class="card-title">
          Description
        </div>
        <div class="card-text">
          <input clrInput [(ngModel)]="instrument.description" placeholder="Description" />
        </div>
      </div>
      <div class="card-block">
        <div class="card-title">
          Price
        </div>
        <div class="card-text">
          <input type="number" min="1" clrInput [(ngModel)]="instrument.price" placeholder="Price" />
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-link" (click)="goBack()">Back</button>
        <button class="btn btn-sm btn-link" (click)="save()">Save</button>
      </div>
    </div>
  </div>
</div>
